html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.intro {
  height: 100vh;
}

.intro video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.intro h1 {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 130px;
  color: #02f886;
  z-index: 1;
  font-family: Syne;
}

.botanical {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: azure;
  font-family: trispace;
  font-weight: 300;
  font-size: 20px;
}

.intro p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-family: trispace;
  font-weight: 300;
  font-size: 25px;
  color: white;
  width: 600px;
  text-align: center;
}

.video-bg {
  position: absolute;
  z-index: -1;
}

.boh {
  height: 0vh;
  color: black;
}

.logoHome {
  /* font-family: "Trispace", sans-serif;
  font-weight: 300; */
  /* color: white; */
  width: 70px;
  transform-origin: center;
  padding: 14px 12px;
  background-color: transparent;
  border-radius: 0px;
  border-color: transparent;
  position: absolute;
  z-index: 1;
  left: 49%;
  transform: translate(-50%, -50%);
  top: 7%;
}

#button-start-exp {
  z-index: 1;
  position: absolute;
  font-size: 18px;
  font-family: "Trispace", sans-serif;
  font-weight: 300;
  color: white;
  padding: 5px 10px;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-style: none;
  border: 1px solid currentColor;
  border-color: white;
  border-radius: 30px;
  margin: 4px 2px;
  background-color: rgb(81, 38, 194);
  text-decoration: none;
  transition: background-color 0.3s;
}

#button-start-exp:hover {
  color: rgb(81, 38, 194);
  font-weight: 400;
  background-color: white;
  text-decoration: none;
  cursor: pointer;
}

/* #button-start-exp a {
  text-decoration: none;
} */
/* 
#button-start-exp :visited {
  color: white;
  text-decoration: none;
} */

/* #button-start-exp a:hover {
  color: rgb(81, 38, 194);
  background-color: white;
  text-decoration: none;
} */
