html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}
body:hover {
  cursor: none;
}

#loadingImage {
  width: 100%;
  height: 100%;
  left: 0%;
  position: fixed;
  z-index: 3;
}

.background {
  position: absolute;
  top: 0%;

  width: 100%;
  height: 100%;
  background-color: rgb(81, 38, 194);
  z-index: -3;
}

#enterButton {
  position: fixed;
  opacity: 100%;
  left: 50%;
  bottom: 37%;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 100px;
  background-color: rgb(81, 38, 194);
  transform: translate(-50%, -50%);
  transform-origin: center;
  border: 2px solid;
  border-color: rgb(81, 38, 194);
  color: #02f886;
  z-index: 5;
}

#aboutButton {
  font-family: "Trispace", sans-serif;
  text-transform: uppercase;
  padding: 0px;
  font-weight: 300;
  color: white;
  stroke: none;
  background: none;
  border: none;
  font-size: 16px;
  position: fixed;
  right: 2.5%;
  top: 5%;
}

#aboutButton:hover {
  color: rgb(255, 170, 136);
  cursor: none;
}

#gardenButton {
  font-family: "Trispace", sans-serif;
  text-transform: uppercase;
  padding: 0px;
  font-weight: 300;
  color: white;
  stroke: none;
  background: none;
  border: none;
  font-size: 16px;
  position: fixed;
  right: 7.5%;
  top: 5%;
}

#gardenButton:hover {
  color: rgb(255, 170, 136);
}

.menuButton:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: rgb(255, 170, 136);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.menuButton:hover:after {
  width: 100%;
  left: 0;
}

.logoHome {
  transform-origin: center;
  background-color: transparent;
  border-radius: 0px;
  border-color: transparent;
  position: fixed;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50px;
}

@keyframes typing {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
.typingBox {
  position: fixed;
  left: 2.5%;
  top: 5%;
  width: 20%;
  z-index: 1;
}
.container {
  position: relative;
  font-family: "Trispace", sans-serif;
  font-weight: 300;
  font-size: 15px;
}

.typing {
  position: absolute;
  top: 0;
  margin: 0;
  z-index: 0;
  color: white;
}

.hiders {
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.hiders p {
  position: relative;
  clear: both;
  margin: 0;
  float: right; /* makes animation go left-to-right */
  width: 0; /* graceful degradation: if animation doesn't work, these are invisible by default */
  background-color: rgb(98, 25, 206);
  color-adjust: exact;
  animation: typing 2s steps(30, end);
  animation-fill-mode: both; /* load first keyframe on page load, leave on last frame at end */
}

.hiders p:nth-child(2) {
  animation-delay: 2s;
}
.hiders p:nth-child(3) {
  animation-delay: 4s;
}
.hiders p:nth-child(4) {
  animation-delay: 6s;
}
.hiders p:nth-child(5) {
  animation-delay: 8s;
}
.hiders p:nth-child(6) {
  animation-delay: 10s;
}
.hiders p:nth-child(7) {
  animation-delay: 12s;
}
.hiders p:nth-child(8) {
  animation-delay: 14s;
}
.marqueeFondo {
  position: fixed;
  font-size: 14px;
  color: #02f886;
  top: 95%;
  left: 50%;
  transform: translate(-50%, 0);
  transform-origin: center;
  font-family: "Trispace", sans-serif;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(81, 38, 194);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 170, 136);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #02f886;
}

/* .cursor {
  position: fixed;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  left: -100px;
  top: 50%;
  background-color: #ff1bb6;
  opacity: 0.7;
  z-index: 10000;
  border: 2px solid #ff1bb6;
  height: 30px;
  width: 30px;
} */

.cursor {
  position: absolute;
  background: magenta;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  z-index: 4;
  user-select: none;
  pointer-events: none;
  transform: scale(0.8);
  font-size: 0px;
  opacity: 1;
}

.cursor::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: 4;
  opacity: 1;

  border-radius: 100%;
}

.cursor.active {
  transform: scale(3);
  transition-duration: 0.1s;
  font-size: 8px;
}

.cursor.active::before {
  opacity: 1;
}

.text-cursor {
  position: absolute;
  z-index: 5;

  user-select: none;
  pointer-events: none;

  opacity: 0;
  font-family: "trispace";
  text-transform: uppercase;
}

.text-cursor.active {
  opacity: 1;
  transition-duration: 0.01s;
  font-size: 11px;
  color: white;
  transform-origin: 50px;
}
