html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  z-index: -3;
}

.changeFamiglia {
  font-family: "Trispace", sans-serif;
  color: white;
  cursor: pointer;
  font-weight: 300;
  font-size: 25px;
  position: absolute;
  border-bottom: 1.5px solid currentColor;
  text-decoration: none;
  z-index: 4;
  width: 50px;
  right: 35%;
  top: 50%;
  background-color: transparent;
  border-color: none;
  border-style: none;
}

.buttonGarden {
  font-family: "Trispace", sans-serif;
  color: white;
  cursor: pointer;
  font-weight: 300;
  font-size: 16px;
  margin-right: 5px;
  position: absolute;
  border-bottom: 1.5px solid currentColor;
  text-decoration: none;
  z-index: 4;
  right: 8%;
  top: 3%;
}

.buttonGarden:hover {
  color: #ffaa88;
}

.buttonAbout {
  font-family: "Trispace", sans-serif;
  font-weight: 300;
  color: white;
  border-bottom: 1.5px solid currentColor;
  text-decoration: none;
  margin-left: 5px;
  font-size: 16px;
  position: absolute;
  right: 4%;
  top: 3%;
}

.buttonAbout:hover {
  color: #ffaa88;
}

.familyButton {
  position: absolute;
  transform: translate(-50%, 0);
  transform-origin: center;
  font-family: "Syne", sans-serif;
  font-weight: 700;
  color: white;
  text-decoration: none;
  font-size: 45px;
  top: 60%;
  z-index: 4;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  vertical-align: middle;
}

.familyButton:hover {
  color: #ffaa88;
  font-size: 55px;
}

.property1 {
  position: fixed;
  transform: translate(-50%, 0);
  transform-origin: center;
  font-size: 18px;
  color: white;
  text-align: center;
  top: 65%;
  left: 20%;
  transform-origin: center;
  font-family: "Trispace", sans-serif;
}

.property2 {
  position: fixed;
  transform: translate(-50%, 0);
  transform-origin: center;
  font-size: 18px;
  color: white;
  text-align: center;
  top: 65%;
  left: 50%;
  transform-origin: center;
  font-family: "Trispace", sans-serif;
}

.property3 {
  position: fixed;
  transform: translate(-50%, 0);
  transform-origin: center;
  font-size: 18px;
  color: white;
  text-align: center;
  top: 65%;
  left: 80%;
  transform-origin: center;
  font-family: "Trispace", sans-serif;
}

.logoHome2 {
  background-color: transparent;
  transform-origin: center;
  position: absolute;
  height: 8 px;
  left: 46%;
  top: 7%;
  position: absolute;
  z-index: 3;
  padding: 0px 12px;
  background-color: transparent;
}

canvas {
  display: block;
}
